In [1]:
!which python

/Users/guidosidoni/opt/anaconda3/envs/develop/bin/python

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
!cp /Users/guidosidoni/Documents/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv /Users/guidosidoni/Documents/GitHub/COVID-DASH/data/
!cp /Users/guidosidoni/Documents/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv /Users/guidosidoni/Documents/GitHub/COVID-DASH/data/
!cp /Users/guidosidoni/Documents/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv /Users/guidosidoni/Documents/GitHub/COVID-DASH/data/

In [63]:
c19data = pd.read_csv('./data/time_series_19-covid-Confirmed.csv')
c19data_deadth = pd.read_csv('./data/time_series_19-covid-Confirmed.csv')
c19data_recov = pd.read_csv('./data/time_series_19-covid-Recovered.csv')

In [5]:
df_c = pd.read_csv('./data/time_series_19-covid-Confirmed.csv')
df_d = pd.read_csv('./data/time_series_19-covid-Confirmed.csv')
df_r = pd.read_csv('./data/time_series_19-covid-Recovered.csv')
def make_data(df):
    df.set_index(['Province/State', 'Country/Region', 'Lat', 'Long'], inplace=True)
    df = (df.
         stack().
        reset_index().
        rename(columns={'level_4':'issue_date', 0:'cant', 'Country/Region':'Country'})
    )
    df = df.groupby(['Country','issue_date']).sum().drop(['Lat','Long'], axis=1).reset_index()
    df.issue_date = pd.to_datetime(df.issue_date)
    df = df.set_index(['issue_date','Country']).unstack()
    df = df.loc[:, 'cant']
    return df

In [6]:
df_c = pd.read_csv('./data/time_series_19-covid-Confirmed.csv')
df_d = pd.read_csv('./data/time_series_19-covid-Deaths.csv')
df_r = pd.read_csv('./data/time_series_19-covid-Recovered.csv')
df_c = make_data(df_c)
df_d = make_data(df_d)
df_r = make_data(df_r)

In [115]:
import altair as alt

In [135]:
paises = ['China','Argentina']

In [161]:
source= df_c[paises].reset_index().melt('issue_date', var_name='Country', value_name='Cases').rename(columns={'issue_date':'Date'})

In [162]:
source

          Date    Country  Cases
0   2020-01-22      China    548
1   2020-01-23      China    643
2   2020-01-24      China    920
3   2020-01-25      China   1406
4   2020-01-26      China   2075
..         ...        ...    ...
109 2020-03-14  Argentina     34
110 2020-03-15  Argentina     45
111 2020-03-16  Argentina     56
112 2020-03-17  Argentina     68
113 2020-03-18  Argentina     79

[114 rows x 3 columns]

In [144]:
source = pd.DataFrame(np.cumsum(np.random.randn(100, 3), 0).round(2), columns=['A', 'B', 'C'], index=pd.RangeIndex(100, name='x'))
source = source.reset_index().melt('x', var_name='category', value_name='y')

      x category     y
0     0        A -0.83
1     1        A -0.22
2     2        A  1.06
3     3        A  0.86
4     4        A  1.68
..   ..      ...   ...
295  95        C  0.78
296  96        C  0.85
297  97        C  1.18
298  98        C  0.92
299  99        C  1.29

[300 rows x 3 columns]

In [170]:
import datetime

In [190]:
t1 = datetime.date.fromisoformat('2020-01-28')
t2 = datetime.date.fromisoformat('2020-01-30')

In [191]:
df_c.loc[t1:t2, :]

Country,Afghanistan,Albania,Algeria,Andorra,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,Azerbaijan,...,Turkey,US,Ukraine,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,Zambia
issue_date,,,,,,,,,,,,,,,,,,,,,
2020-01-28,0,0,0,0,0,0,0,5,0,0,...,0,5,0,0,0,0,0,0,2,0
2020-01-29,0,0,0,0,0,0,0,6,0,0,...,0,5,0,4,0,0,0,0,2,0
2020-01-30,0,0,0,0,0,0,0,9,0,0,...,0,5,0,4,0,0,0,0,2,0